.pokedex-view {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 800px) {
  .pokedex-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .pokedex-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .pokedex-view {
    grid-template-columns: repeat(4, 1fr);
  }
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0 4rem;
  color: #444;
  position: relative;
  font-weight: bold;
}

.heading > i {
  display: inline-block;
  height: .6em;
  width: .6em;
  background-image: url("/assets/img/pokeball.svg");
  background-repeat: no-repeat;
}
